<% include header %>

<img src="images/logo.png" alt="logoCitySpots" id="logohome">

<p class="teksthome">City Spots is een applicatie waar u WiFi-hotspots, bibliotheken en openbare computerruimtes kan terugvinden in de stad Antwerpen! <br>
Deze app werd gemaakt om alle Antwerpse studenten te helpen bij het vinden van Wifi, bibliotheken en computerruimtes.
</p>
<a href="/all"><button class="navknop" id="kaartknop">KAART</button></a>

</body>
</html>
