<div class="bovenheader">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <p class="filter">Filters</p>
    <a href="all">Toon alles</a>
    <a href="wifi">Toon Wifi Hotspots</a>
    <a href="bib">Toon Bibliotheken</a>

    <a href="/"><p class="homeknoptekst">Home</p></a>
  </div>

  <span style="font-size:30px;cursor:pointer;" onclick="openNav()" class="headtekst">&#9776; CITY SPOTS</span>

</div>
